<p id="notice"><%= notice %></p>

<h1>Categories
  <i class="list layout icon"></i>
</h1>
<div class="ui container">
  <%= link_to 'New Category', new_category_path, class: 'ui green button' %>
  <table class="ui single line table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= link_to 'Show', category, class: 'ui blue button' %>
            <%= link_to 'Edit', edit_category_path(category), class: 'ui green button' %>
            <%= link_to 'Delete', category, class: 'ui red button', method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
</div>

