<p id="notice"><%= notice %></p>

<h1>Products
  <i class="cocktail icon"></i>
</h1>
<div class="ui container">
  <%= link_to 'New Product', new_product_path, class: 'ui green button' %>
<table class="ui single line table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Is available</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.is_available %></td>
        <td><%= product.category.name %></td>
        <td><%= link_to "Available", is_available_product_path(product.id),class: 'ui grey button',method: :get %>
        <%= link_to 'Show', product, class: 'ui blue button' %>
        <%= link_to 'Edit', edit_product_path(product), class: 'ui green button' %>
        <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } , class: 'ui red button'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>