<p id="notice"><%= notice %></p>
<div class="ui container">
<p>
  <label class="ui label"><strong>Name:</strong></label>
  <strong> <%= @product.name %></strong>
</p>

<p>
  <label class="ui label"><strong>Price:</strong></label>
  <strong><%= @product.price %></strong>
</p>

<p>
  <label class="ui label"> <strong>Is available:</strong></label>
  <strong>  <%= @product.is_available %></strong>
</p>

<p>
  <label class="ui label"><strong>Category:</strong></label>
  <strong><%= @product.category.name %></strong>
</p>
<br>
<br>
<%= link_to 'Back', products_path, class: 'ui black button' %>
<%= link_to 'Edit', edit_product_path(@product) , class: 'ui green button'%>

</div>