<div class="ui container">
<h1>Editing User
  <i class="user icon"></i>
</h1>
  <%= form_for :user, url: user_path(@user), method: :patch do |f| %>
    <p>
      <%= f.label :UserName, class: "ui label" %><br>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :Email, class: "ui label" %><br>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :password, class: "ui label" %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :Admin, class: "ui label" %><br>
      <%= f.check_box :admin %>
    </p>

    <p>
      <%= f.submit "Save", :class => 'ui green button' %>
      <%= link_to 'Back', users_path , class: 'ui black button' %>
    </p>

  <% end %>


</div>