<row>
  <table  class="ui single line table">

    <tbody id="holder">

    </tbody>
  </table>
</row>


<%= form_for(order, :html => {:id => 'form'}) do |f| %>
    <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!--<div class="field">-->
      <!--<%= f.label :room %>-->
      <!--<%= f.number_field :room %>-->
    <!--</div>-->

    <div class="field">
      <%= f.label :room %>
      <%=select_tag "order[room]", options_for_select(@rooms,current_user.room)%>
    </div>


<h1>total :<span id="total"></span></h1>
    <div id="submit" class="actions">
      <%= f.submit %>
    </div>
<% end %>


<script type="text/javascript">

    $(document).on("click",".remove",function () {
        console.log("remove",$(this).attr('data-id'))
      delete list[$(this).data('id')]
        console.log("after remove",list)
      render(list)
    });

</script>