


<%= form_for(order, :html => {:id => 'form',:class=>"ui form"}) do |f| %>
    <div class="row">
    <table  class="ui single line table">

      <tbody id="holder">
    <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<%if action_name=='edit'%>
<%@latest.each do |i| %>
        <tr class="product" data-id="<%=i.id %>">
          <td>
            <label for=""><%=i.name%></label>
          </td>
          <td>
            <input type="text" name="product[2]" value="1">
          </td>
          <td>input for notes</td>
          <td>
            <button data-id="2" class="remove">remove</button>
          </td>
        </tr>
    <%end%>
    <%end%>
<tr>  <div class="field">
  <%= f.label :room %>
  <%=select_tag "order[room]", options_for_select(@rooms,current_user.room)%>
</div></tr>
    <%= hidden_field_tag "user_id", current_user.id ,:id=>"hidden" %>
<tr>
  <h1>total :<i class='pound icon'></i><span id="total"></span></h1>
</tr>
    <!--<tr>  <div id="submit" class="ui fluid large teal  button actions">-->
      <%= f.submit  :id=>"submit",:class=>"ui fluid large teal  button actions" %>
    <!--</div>-->
    </tr>


      </tbody>
    </table>
    </div>
<% end %>


<script type="text/javascript">

    $("i").click(function(event){
        event.preventDefault();
    });

    $(document).on("click",".remove",function () {
        console.log("remove",$(this).attr('data-id'))
      delete list[$(this).data('id')]
        console.log("after remove",list)
      render(list)
        return false
    });

    $(document).on("click",".more",function () {
        console.log("more",list[$(this).data('id')].name)

        list[$(this).data('id')].amount+=1

        render(list)
        return false
    });

    $(document).on("click",".less",function () {
        console.log("less",list[$(this).data('id')].name)
        if(list[$(this).data('id')].amount>1){
            list[$(this).data('id')].amount-=1
            render(list)

        }
        else{
            console.log("this is the minimum")
        }
        return false

 });

</script>