<div class="ui raised  container segment">
  <% @orders.each do |order| %>
      <table class="ui red table">
        <thead>
        <tr>
          <th>Order Date</th>
          <th>Name</th>
          <th>Room</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= order.created_at %></td>
          <td><%= order.user.username %></td>
          <td><%= order.user.room %></td>
          <td>cancel</td>
        </tr>
        </tbody>
      </table>
      <% order.orders_products.each  do |product| %>
          <span>
        <h4 class="ui image header">
          <img src="<%= product.product.image  %>" class="ui mini rounded image">
          <div class="content">
            <%= product.product.name %>
            <div class="sub header"><%= product.amount %>
            </div>
          </div>
        </h4>
          </span>
      <% end %>
  <% end %>
</div>
