
  <% @orders.each do |order| %>
      <table class="ui red table">
        <thead class="<%= order.id %>">
        <tr>
          <th>Order Date</th>
          <th>Name</th>
          <th>Room</th>
          <th>Order Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="<%= order.id %>">
          <td><strong><%= order.created_at %></strong><%= link_to 'Show Order', order, method: :get,class: 'ui blue button' %></td>
          <td><%= order.user.username %></td>
          <td><%= order.user.room %></td>
          <td><%= select( "Order",'status',Order::statuses,{}, :"data-id" => order.id  ,:class => "changeStatus" , :"data-user" => order.user_id) %></td>
        </tr>
        </tbody>
      </table>
      <div class="<%= order.id %>" style="text-align: center;">
        <% order.orders_products.each do |product| %>
          <span>
        <h4 class="ui image header">
          <img src="<%= product.product.image %>" class="ui mini rounded image">
          <div class="content">
            <%= product.product.name %>
            <div class="sub header"><%= product.amount %>
            </div>
          </div>
        </h4>
          </span>

        <% end %>
      </div>
      <br>
  <% end %>


