<h1>My Orders</h1>
<p>
  <%= link_to 'New Order', new_order_path, class: 'ui green button' %>
</p>
<div class="ui container">
  <p>
    <%= form_for :search, method: :get do |f| -%>

        <%= f.label :Start_Date, class: "ui label" %>
        <%= f.date_field :start_date, value: @start -%>
        <%= f.label :End_Date, class: "ui label" %>
        <%= f.date_field :end_date, value: @end -%>
        <%= f.submit 'Search', class: 'ui blue button' -%>

    <% end -%>
  </p>
  <table  class="ui single line table">
    <thead>
    <tr>
      <th>Order Date</th>
      <th>Status</th>
      <th>Order Cost</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at %> <%= link_to 'Show Order', order, method: :get,class: 'ui button' %> </td>
          <td><%= order.status %></td>
          <td>
            <% @sum = 0 %>
            <% order.products.each do |product|  %>
                <% @sum = @sum + product.price * order.orders_products.where(:product_id => product.id).collect(&:amount)[0] %>
            <% end %>
            <%= @sum.to_s + " L.E " %>

          </td>
          <td>
            <%= link_to 'Cancel', order, method: :delete, data: {confirm: 'Are you sure?'},class: 'ui red button' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>