<h1>Check Specific User Orders</h1>

<%= form_for :check, url: checks_check_path ,method: :post  do |f| -%>

        <%= f.label :Start_Date, class: "ui label" %>
        <%= f.date_field :start_date -%>
        <%= f.label :End_Date, class: "ui label" %>
        <%= f.date_field :end_date -%>
        <% #f.select :user_id, options_for_select(@users), include_blank: true %>
        <%= f.select :user_id, User.all.collect{|user| [user.email , user.id]} ,{include_blank: true },Onclick:'getChecks()' %>
        <% f.submit 'Search', class: 'ui blue button' -%>



<div id="user_orders">
	
</div>
<% end %>